.steamChart {
  width: 94%;
  height: 360px;

  border-radius: 20px;

  background-color: transparent;

  box-shadow: none;

  margin-bottom: 30px;
}

.steamChart .title {
  width: 95%;
  height: 60px;

  display: flex;
  align-items: flex-end;

  padding-left: 30px;

  font-size: 22pt;
}

.steamChart .responsiveContainer {
  width: 100%;
  height: 300px;
}
