.card {
  width: 290px;
  height: 200px;

  border-radius: 20px;

  background-color: #fff;

  box-shadow: 0 5px 30px -16px rgba(9, 9, 16, 0.2);

  margin-right: 22px;
  margin-bottom: 22px;
}

.card .header {
  width: 100%;
  height: 50px;

  display: flex;
}

.card .header .title {
  width: 80%;
  height: 100%;

  display: flex;
  align-items: center;
  padding-left: 20px;

  border-radius: 20px;
}

.card .header .icon {
  width: 20%;
  height: 100%;

  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
}

.card .tagContainer {
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  padding-left: 15px;
}

.card .tagContainer .tag {
  max-width: 85%;
  width: 60%;
  height: 22px;

  border-radius: 20px;

  border: solid 1px;

  padding: 4px;

  display: flex;
}

.tagIcon {
  width: 22px;
  height: 22px;

  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 25pt;

  color: #ccc;
}

.tagText {
  margin-left: 10px;
  width: 75%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.MuiFormControl-root {
  width: 100%;

  margin-bottom: 10px !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #ffa478 !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #ffa478 !important;
}

#standard-basic-label {
  color: #ffa478 !important;
}

.MuiInputLabel-animated {
  color: #ffa478 !important;
}

.MuiTypography-h6 {
  color: #ccc;
}
