.contentHome {
  width: 95%;
  height: 96vh;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  color: #e67225;

  overflow: auto;
}

.contentHome .smallCharts {
  width: 94%;
  display: flex;
  justify-content: space-between;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}
