.contentHome {
  width: 95%;
  height: 96vh;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  color: #e67225;

  overflow: auto;
}

.contentHome .smallCharts {
  width: 94%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .contentHome .smallCharts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contentHome .smallCharts .pieChart {
    width: 100%;
  }
  .contentHome .smallCharts .radarChart {
    width: 100%;
  }
  .contentHome .smallCharts .chortChart {
    width: 100%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}
