.description {
  width: 90%;
  height: 220px;

  display: flex;
  align-items: flex-end !important;
}

.description .content {
  width: 100%;
  height: 80%;

  display: flex;
  flex-wrap: nowrap;

  border-radius: 20px;
  box-shadow: 0 20px 30px -16px rgba(9, 9, 16, 0.2);
  background-color: #fff;
}

.description .content .text {
  width: 70%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.description .content .imgContainer {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.description .content .imgContainer img {
  width: 50%;
  margin-bottom: 5px;
}
