@media only screen and (max-width: 600px) {
  .description .content .text .descriptionText {
    height: 100px;
  }
}

.description {
  width: 94%;
  height: 180px;

  display: flex;
  align-items: flex-end !important;

  margin-bottom: 30px;
}

.description .content {
  width: 100%;
  height: 80%;

  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  border-radius: 20px;
  box-shadow: 0 2px 30px -16px rgba(9, 9, 16, 0.2);
  background-color: #fff;
}

.description .content .text {
  width: 80%;
  height: 100%;

  padding-left: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.description .content .text .title {
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  font-size: 22px;
}

.description .content .text .title .icon {
  font-size: 26px;
  margin-right: 10px;

  color: #cccccc;
}

.description .content .text .descriptionText {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: #cccccc;

  overflow: hidden;
}

.description .content .imgContainer {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  overflow: hidden;
}

.description .content .imgContainer img {
  width: 110px;
  margin-bottom: 5px;

  overflow: hidden;
}
