nav {
  width: 60px;
  height: 95vh;

  background-color: #fff;

  border-radius: 80px;

  display: flex;
  align-items: center;

  box-shadow: 0 20px 30px -16px rgba(9, 9, 16, 0.2);
}

nav .container {
  width: 100%;
  height: 99%;

  text-align: center;
}

/* Logo */
nav .container .logo {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav .container .logo img {
  width: 70%;
}

/* Menu */
nav .container .menu {
  margin-top: 2%;

  width: 100%;
  height: 85%;

  display: flex;
  align-items: center;
}

nav .container .menu .container {
  width: 100%;
  height: fit-content;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

nav .container .menu .container .menuIten {
  width: 55px;
  height: 55px;

  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #ccc;

  cursor: pointer;

  transition: 0.6s;

  margin-bottom: 20px;
}

nav .container .menu .container .menuIten:hover {
  transition: 0.6s;

  color: #76db74;

  box-shadow: 0 20px 30px -16px rgba(9, 9, 16, 0.2);
}
