.bumpChart {
  width: 94%;
  height: 60%;

  border-radius: 20px;

  background-color: #fff;

  box-shadow: 0 2px 30px -16px rgba(9, 9, 16, 0.2);

  margin-bottom: 30px;
}

.bumpChart .title {
  width: 95%;
  height: 60px;

  display: flex;
  align-items: flex-end;

  padding-left: 30px;

  font-size: 22pt;

  color: #ff9671;
}

.bumpChart .responsiveContainer {
  width: 100%;
  height: 85%;
}
