.contentChoice {
  width: 95%;
  height: 96vh;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  color: #e67225;

  overflow: auto;
}

.contentChoice .buttonControler {
  width: 95%;
  border-radius: 20px;

  background-color: #fff;

  box-shadow: 0 2px 30px -16px rgba(9, 9, 16, 0.2);
}

.contentChoice .buttonControler .MuiBottomNavigationAction-root {
  color: rgba(0, 0, 0, 0.54);
  padding: 6px 12px 8px;
  max-width: 200px !important;
  min-width: 200px !important;
  color: #cccccc !important;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    padding-top 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.contentChoice .buttonControler .MuiBottomNavigationAction-root.Mui-selected {
  color: #e67225 !important;
}

.contentChoice .buttonControler .MuiBottomNavigation-root {
  border-radius: 20px;
  margin-top: -25px;
}

.contentChoice .buttonControler .MuiSvgIcon-root {
  margin-top: 8px;
  margin-bottom: 2px;
}

.chart {
  width: 95%;
  height: 55%;

  border-radius: 20px;

  box-shadow: 0 2px 30px -16px rgba(9, 9, 16, 0.2);

  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.iconButtom {
  margin-top: 6px;
  font-size: 25px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}
